
body {
    margin: 0px;
    background-color: lightgrey;
    color: white;
    font-family: "Source Sans Pro", Arial, sans-serif;
}

header {
    padding: 5px;
    background-color: rgb(50, 175, 90);
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type:none;
}

a {
    text-decoration:none;
    color: lightgrey;
}
a:hover {
    color: white;
}

logo img {
    width: 200px;
    height: auto;
}

container, main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

soustitre {
    width: 80%;
}
footer {
    background-color: black;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer a {
    color: rgb(149, 148, 148);
}

footer a:hover {
    color: rgb(4, 149, 4);
}

.social-icons {
    font-size: 1.8rem;
}